@import "tailwindcss";

html,
body {
  background-color: #02012C;
}

.button {
  ul {
    .active {
      @apply bg-blue-100 text-blue-700;
    }
    
    .not-active {
      @apply text-gray-700 hover:bg-gray-200;
    }
  }
}
